.home{
    display: grid;
    .gridMain{
        display: grid;
        grid-template-areas: 'main';
        place-items: center;
        .imgBox{
            grid-area: main;
            aspect-ratio: 1/1.2;
        }
        #text{
            font-size: 4rem;
            grid-area: main;
            color: white;
        }

    }

    .gridMain #text p{
        font-family: serif;
    }

    .product{
        padding: 4%;
        display: grid;
        gap: 1rem;
    }
    .productTitle{
        font-size: 2rem;
    }
    .price{
        font-size: 1.5rem;
    }
    .sideScroll .bestSellers p{
        font-size: 3rem;
        font-family: serif;
        text-align: center;
    }

    













































}