.home{
    
    .gridMain{
        display: grid;
        grid-template-areas: 'main';
        place-items: center;
        .imgBox{
            grid-area: main;
            aspect-ratio: 1/1.2;
        }
        #text{
            font-size: 4rem;
            grid-area: main;
            color: white;
 
        }

    }

    .gridMain #text p{
        font-family: serif;
    }
    
    .gridMainStores a p{
        text-shadow: -1px -1px #000, 1px -1px  #000, -1px 1px  #000, 1px 1px  #000;
    }

    .product{
        padding: 4%;
        display: grid;
        gap: 1rem;
        scroll-snap-align: center;

        .imgBox{
            aspect-ratio: 1/1.2;
        }
        
    }
    .productTitle{
        font-size: 2rem;
    }
    .price{
        font-size: 1.5rem;
    }
    .sideScroll .bestSellers p{
        font-size: 3rem;
        font-family: serif;
        text-align: center;
    }
    .sideScroll{
        display: grid;
        padding: 3%;
    }


    .box{
        display: grid;
        grid-template-columns: repeat(6,70vw);
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        padding: 5%;
        gap: 1rem;
    }
    
}

@media (min-width: 800px){

    .home{
        .top{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .box{
        grid-template-columns: repeat(3,1fr);
    }

    .gridMainStores{
        .imgBox{
            aspect-ratio: 2/1;
        }
    }
    
}



}