
.productInfo{

    display: grid;
    gap: 1rem;

    .sideScrollBoxImg{
        display: grid;
        grid-template-columns: repeat(4,100vw);
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    .productImg{
        scroll-snap-align: center;
    }
    .imgBox{
        aspect-ratio: 1/1.2;
    }
    .productTitle{
        padding: 3%;
        font-size: 2rem;
    }
    .size button p{
        font-size: 1.3rem;
    }
    .size button{
        width: 90%;
        background-color: white;
        border: hidden;
        box-shadow: 1px 1px 1px 1px black;
    }
    .size{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        padding: 5%;
    }
    .clotheSize{
        display: grid;
        gap: 0.5rem;
    }
    .chooseSize{
        padding-left: 5%;
    }
    .color{
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;
        border: hidden;
        aspect-ratio: 1/1;
    }
    .colorBox{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        padding-left: 5%;
        padding-bottom: 3.5%;
        padding-top: 2.5%;
        gap: 0.7rem;
        max-width: 500px;
    }

    
    .color1{
        background-color: white;
        border: 1px solid black;
    }
    .color2{
        background-color: black ;
    }
    .color3{
        background-color: grey;
    }
    .color4{
        background-color: beige;
    }
    .color5{
        background-color: rgb(131, 131, 255);
    }
    .color6{
        background-color: green;
    }
    .color7{
        background-color: brown;
    }

    .addToCart p{
        font-size: 1rem;
        color: white;
    }
    .addToCart{
        padding: 2%;
        background-color: black;
        width: 90vw;
    }
    .addToCartExtra{
        text-align: center;
    }


    .product{
        padding: 4%;
        display: grid;
        gap: 1rem;
        scroll-snap-align: center;

        .imgBox{
            aspect-ratio: 1/1.2;
        }
        
    }
    .productTitle{
        font-size: 1.25rem;
    }
    .price{
        font-size: 1rem;
    }
    .sideScroll .bestSellers p{
        font-size: 2rem;
        font-family: serif;
        text-align: center;
    }
    .sideScroll{
        display: grid;
        padding: 3%;
    }
    .sideScrollBox{
        display: grid;
        grid-template-columns: repeat(6,70vw);
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        padding: 5%;
        gap: 1rem;
    }
    .moreInfo{
        padding: 5%;
    }
    .productInformation>p{
        grid-column: span 5;
    }

    .productInformation{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        button{
            background-color: transparent;
            font-size: 1rem;
            border: none;
        }
    }
    
    .materialsUsed{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 0.2rem;
        p{
            grid-column: span 9;
        }
    }



}

.productInformationClick{
  
        display: grid;
        margin-left: -100vw;
        height:0;
        padding: 0%;
        overflow: hidden;
        transition: all 1s;
        
    }

.productInformationClick>*{
    max-width: 95vw;
}


.showMore{
  
        padding: 2%;
        gap: 1rem;
        margin-left: 0;

        height: 220px;
}

@media (max-width: 574px){

    .showMore{
        height: 250px;
    }
}

@media (max-width: 450px){

    .showMore{
        height: 300px;
    }
}

