
.stores{
    .newArrivalsMainTitle{
        text-align: center;
        font-size: 2.2rem;
        place-items: center;
        display: flex;
        justify-content: center;
    }

    .product{
        padding: 4%;
        display: grid;
        gap: 1rem;

        .imgBox{
            aspect-ratio: 1/1.2;
        }
        
    }
    .productTitle{
        font-size: 2rem;
    }
    .price{
        font-size: 1.5rem;
    }

    .NAtop{
        padding: 5%;
        gap: 1rem;
    }
    
    .box{
        padding: 15%;
        display: grid;
        gap: 3rem;
    }

    .newArrivalsMainTitle{
        display: grid;
    }

    .store{
        display: grid;
        gap: 1rem;
    }

    .storeInfo{
        display: grid;
        padding: 5%;
    }

    .StoreOpeningHours, .storeContact, .location{
        display: grid;
        gap: 0.5rem;
    }

    .store .imgBox{
        border-radius: 10px 10px;
    }



    @media (min-width: 600px){
        .storeInfo{
        padding: 30%;
        place-items: center;
        }

        .store .imgBox{
        aspect-ratio: 1/2;
        }

        .store{
        grid-template-columns: repeat(2,1fr);
        }

    }


    
    









}