.stores *{
 bor-der: 1px solid black;
}
.stores{
    .newArrivalsMainTitle{
        text-align: center;
        font-size: 2.2rem;
        place-items: center;
        display: flex;
        justify-content: center;
    }

    .product{
        padding: 4%;
        display: grid;
        gap: 1rem;

        .imgBox{
            aspect-ratio: 1/1.2;
        }
        
    }
    .productTitle{
        font-size: 2rem;
    }
    .price{
        font-size: 1.5rem;
    }

    .NAtop{
        padding: 5%;
        gap: 1rem;
    }
    
    .box{
        padding: 5%;
        display: grid;
        gap: 1rem;
    }

    .newArrivalsMainTitle{
        display: grid;
    }

    .store{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .storeInfo{
        display: grid;
    }
    
    









}