@import "home.css";
@import "newArrivals.css";
@import "stores.css";

*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
background-color: #E6E4DF;

padding: 4%;

    #top{
        button{
            background-color: transparent;
            font-size: 2rem;
            color: black;
        }
        display: grid;
        grid-template-columns: repeat(30,1fr);
        align-items: center;

        .title{
            grid-column: span 28;
            font-size: 1.2rem;
        }

    }

    nav{
        display: grid;
        height: 400px;
        padding: 4%;
        gap: 1rem;
        transition: 1s;
        
        
    }
}
.title h1{
        text-align: center;
        font-family: serif;
    }

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
.imgBox{
    aspect-ratio: 1/1;
    overflow: hidden;
}


footer{
    padding: 4%;
    background-color: black;
    color: white;
    .footerTitle{
        font-size: 1.5rem;
    }
    .footerUnderTitle{
        font-size: 1.2rem;
    }
    .information{
        display: grid;
        gap: 1rem;
    }
    display: grid;
    gap: 1rem;

    #CONTACT, .followUs{
        display: grid;
        gap: 0.5rem;
    }

    .followUs{
        .links{
            display: grid;
        }
    }
    .toTop{
        text-align: center;
        a{
            font-size: 1.2rem;
        }
    }
}

footer a{
font-size: 1rem;
color: white;
}

a{
font-size: 2rem;
text-decoration: none;
color: black;
}
.hidden{
    margin-left: -100vw;
    height: 0;
    padding: 0;
    overflow: hidden;
}

@media (min-width: 520px) {
    footer{
        .information{
            padding: 3%;
            gap: 0.7rem;

            display: grid;
            grid-template-columns: repeat(2,1fr);

        }
        .followUs{
            display:grid;
            grid-template-rows: repeat(5, max-content);
        }
        
    }
}


@media (min-width: 1120px){

    #top button{
        display: none;
     
    }
    header #top .title{
     grid-column: span 30; 
    }

    header nav{
        grid-template-columns: repeat(5, 1fr);
        height: max-content;
    }
    nav a{
            height: max-content;
            text-align: center;
    }
    #display{
        grid-template-columns: repeat(5, 1fr);
        height: max-content;
        margin: 0;
        transition: none;
        padding: 4%;
        nav a{
            height: max-content;
            text-align: center;
            }
    }

}